body {
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  color: aliceblue;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cont {
  background-color: gray;
  width: 350px;
  min-height: 500px;
  border-radius: 10px;
  margin: 100px auto 0 auto;
  padding: 80px 20px 30px 20px;
  position: relative;
  text-align: center;
  box-sizing: border-box;
}

.btn {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.buttons {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.attribution {
  margin: 150px 0px;
}

.About {
  display: block;
}

.City {
  margin-top: 30px;
}

.name {
  margin-top: 100px;
  font-size: 24px;
}
