body {
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  color: aliceblue;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 150px;
  right: 910px;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cont {
  background-color: gray;
  width: 350px;
  height: 450px;
  border-radius: 10px;
  margin: 0px auto;
}

.Buttons {
  display: block;
}
